In [3]:
#print Statement
print("HOPE AI")

HOPE AI

In [10]:
 # Buy input
input("Enter your institute name? : ")

Enter your institute name? :  HOPE AI

'HOPE AI'

In [8]:
#Buy inputs
input("Enter your name: ")
int(input("Enter your age: "))
input("Enter your school name: ")
input("Enter your degree: ")

Enter your name:  Raj
Enter your age:  15
Enter your school name:  Guru school
Enter your degree:  B.E CSE

'B.E CSE'

In [12]:
#Addition
a = 43
b = 34
add = a + b
print("a= ", a)
print("b= ", b)
print("add = ", add)

a=  43
b=  34
add =  77

In [13]:
#Subtraction
a = 43
b = 34
sub = a - b
print("a= ", a)
print("b= ", b)
print("Sub = ", sub)

a=  43
b=  34
Sub =  9

In [14]:
#Multiplication
a = 63
b = 97
mul = a * b
print("a= ", a)
print("b= ", b)
print("Mul = ", mul)

a=  63
b=  97
Mul =  6111

In [15]:
#Division
a = 76
b = 31
float_div = float(a / b)
print("a= ", a)
print("b= ", b)
print("Float Div = ", float_div)

a=  76
b=  31
Float Div =  2.4516129032258065

In [19]:
#Floor division
import math
a = 76
b = 31
floor_div = math.floor(a / b)
print("a= ", a)
print("b= ", b)
print("Floor Div = ", floor_div)

a=  76
b=  31
Floor Div =  2

In [20]:
#Modulo
a = 76
b = 31
Modulo = a % b
print("a= ", a)
print("b= ", b)
print("Modulo = ", Modulo)

a=  76
b=  31
Modulo =  14

In [22]:
#Power
a = 4
b = 4
Power = pow(a, b)
print("a= ", a)
print("b= ", b)
print("Power = ", Power)

a=  4
b=  4
Power =  256